name: build and push image to public ecr

on:
  push:
    branches:
      - main

env:
  ECR_REPOSITORY: prometheus_k8s_metrics_save_to_s3
  ECR_REGISTRY_ALIAS: g4r8a7n8
  AWS_REGION: us-east-1 

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_CICD_ROLE }}
          role-session-name: github-cicd
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Build, tag, and push image to Amazon ECR Public
        id: build-image
        env:
          ECR_REGISTRY: public.ecr.aws/${{ env.ECR_REGISTRY_ALIAS }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t ${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG} -t ${ECR_REGISTRY}/${ECR_REPOSITORY}:latest .
          docker image push --all-tags ${ECR_REGISTRY}/${ECR_REPOSITORY}
          echo "image=${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}" >> $GITHUB_OUTPUT